{% load bootstrap4 %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap1.min.css' %}" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/style1.css' %}" />

</head>

<body>

	<div class="container">

      <hr>
      <nav aria-label="breadcrumb bg-none">
        <ol class="breadcrumb" style="letter-spacing: 0.3rem; font-size: 22px; font-weight: 300;">
          <li class="breadcrumb-item"><a href="{% url 'Frontpage:home' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'Room:Roompage' %}">Room</a></li>
          <li class="breadcrumb-item active" aria-current="page">Reservation</li>
        </ol>
      </nav>
      <hr>
	</div>

<section class="probootstrap-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p><img src="{{Room.image.url}}" class="img-responsive" alt="Free Bootstrap Template by uicookies.com"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Details</h2>

				<p>Type : {{Room.name}}</p>
				<p>Capacity : {{Room.capacity}} m2</p>
				<p>Beds : {{Room.beds_number}}</p>
				<p>Price : {{Room.price}}</p>
				<p>Facility : {{Room.facility}}</p>
			</div>
		</div>
	</div>
</section>

	<section class="probootstrap-section">
	      <div class="container">
	        <div class="row">
	          <div class="col-md-4">
	            <h2>Room Reservation</h2>
	              <form action="" method="POST">
	                {% csrf_token %}
	                  {% bootstrap_form reserve_form %}
	                  {% buttons %}
	                      <button type="submit" class="btn btn-primary">Reserve</button>
	                  {% endbuttons %}
	              </form>
	          </div>
						<div class="col-md-4">
	            <h2>Room Reservation</h2>

	          </div>
						<div class="col-md-4">
							<h2>Room Reservation</h2>


						</div>

	        </div>
	      </div>
	    </section>





<script src="{% static 'js/jquery.min.js' %}"></script>


</body>
</html>
