{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Resort</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">



  </head>

  <body>


    <div class="container text-center">
      <h1 style="font-size: 65px; font-weight: 400;">The Home Stay</h1>
      <h3 style="letter-spacing: 10px; font-size: 18px;">RESERVATION</h3>
    </div>
    <!-- end container -->


    <div class="container">

      <hr>
      <nav aria-label="breadcrumb bg-none">
        <ol class="breadcrumb" style="letter-spacing: 0.3rem; font-size: 22px; font-weight: 300;">
          <li class="breadcrumb-item"><a href="{% url 'Frontpage:home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Rooms</li>
        </ol>
      </nav>
      <hr>

    </div><!-- end container -->



    <section>
      <div class="container">
        <div class="row">
       {% for rooms in Roompage %}
          <div class="card shadow text-center col-xl-4 col-md-6">
            <div class="card-body">
              <h5 class="card-title" style="letter-spacing: 0.7rem; font-size: 25px; font-weight: lighter;">{{rooms.name}}</h5>
              <hr class="style1">
              <img data-src="{{rooms.image.url}}" class="card-img lazyload pt-1" alt="N/A">
            </div>

            <div class="card-body">
              <p class="card-text">1 ROOM - {{rooms.beds_number}} {{rooms.bed_type}}</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Price RM{{rooms.price}}</li>
                <li class="list-group-item">Extra bed (max 2 pax) RM50 each</li>
                <li class="list-group-item">{{rooms.promotion}}</li>
                <li class="list-group-item">{{rooms.facility}}</li>
              </ul>
            </div>
            <div class="pb-5 text-center">
              <a href="{% url 'Room:Booking' rooms.id %}" class="btn btn-primary" style="letter-spacing: 3px; font-size: 18px; font-style: italic; font-weight: lighter;">Book Now</a>
            </div>
          </div><!-- end card -->
           {% endfor %}
        </div>
     </div>

  </section><!-- end row 1 -->


    <!-- footer -->
    <footer class="text-center pt-3">
      <ul class="nav justify-content-center">
        <li class="nav-item p-2 mb-1 bg-white rounded">
          <a class="nav-link" href="#"><i class="fab fa-black fa-facebook fa-3x"></i></a>
        </li>
        <li class="nav-item p-2 mb-1 bg-white rounded">
          <a class="nav-link" href="#"><i class="fab fa-black fa-instagram fa-3x"></i></a>
        </li>
        <li class="nav-item p-2 mb-1 bg-white rounded">
          <a class="nav-link" href="#"><i class="fab fa-black fa-twitter fa-3x"></i></a>
        </li>
      </ul>
      <p class="my-1">Copyright 2019</p>
      <h6>made by MadTechnologies</h6>
    </footer>
    <!-- end footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" integrity="sha256-jGAkJO3hvqIDc4nIY1sfh/FPbV+UK+1N+xJJg6zzr7A=" crossorigin="anonymous"></script>
    <script src="{% static "js/lazysizes.min.js" %}" async=""></script>

    <script>

    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                    event.preventDefault();
                    $(this).ekkoLightbox();
                });

    </script>


    <!--
    _..-...
   ,Y+  .:.:\_
  | |./'     ``-\
  |,'`           `.
  |               `_
  |     ,-''-. ,-''':
  |    /      .'     :                                _
  | .\ |    o  |__o.,'                           _.-' '\  *****lian was here***
 '|\| \\      /    `)                        ,..,'     ,'
  |`|  ' `..- .....<:                      ,'    `. ,-:
  ' ,-   _.-'        `.                 _,'       +'  |
   |`|  ,'            '.              ,'       - _/_,'-\
    `.Y|   _,,.. ____./'           ,-'         /'|`'  _|
      ||  | |  |  | |           _.-              `--+'
      |-.  "|:.|..|-.    _,.. ,/'               ,..Y'
      / `\.       ,-'  ,' /,,'               _,'
     .:_    -----'''|.:   |             _,Y''
    /  '`'';'.     /:  \  |        _,Y-'
    |      |  ' .  | `._| |     _,'
_/-'';.. _ |     ` |   \   `.Y'i'                                           * MadTechnologies Copyright 2018-2019
,'    ,'    '             |    i/'                                          * MadWorks
,.'      /                   ..--'
|       |                     \
: .     /                      ' .
/'  `._ .'                         `.
/     _''                            \
/     ./                               \
/      /                                 \
/      |                                   \
/     ,'|                                   |


    -->



  </body>

</html>
