/*
 .-.
(   )
 '-'
 J L
 | |
J   L
|   |
J     L
.-'.___.'-.
/___________\
_.-""'           `bmw._
.'                       `.
J                            `.
F                               L
J                                 J
J                                  `
|                                   L
|                                   |
|                                   |
|                                   J
|                                    L
|                                    |
|             ,.___          ___....--._
|           ,'     `""""""""'           `-._
|          J           _____________________`-.                       * MadTechnologies Copyright 2018-2019
|         F         .-'   `-88888-'    `Y8888b.`.                     * MadWorks
|         |       .'         `P'         `88888b \                    * Bite my shinny metal ass!!!!!!!
|         |      J       #     L      #    q8888b L
|         |      |             |           )8888D )
|         J      \             J           d8888P P
|          L      `.         .b.         ,88888P /
|           `.      `-.___,o88888o.___,o88888P'.'
|             `-.__________________________..-'
|                                    |
|         .-----.........____________J
|       .' |       |      |       |
|      J---|-----..|...___|_______|
|      |   |       |      |       |
|      Y---|-----..|...___|_______|
|       `. |       |      |       |
|         `'-------:....__|______.J
|                                  |
L___                              |
"""----...______________....--'
 */


 /* ===================================================================================================================
 ======================================================================================================================


             \\\\\\\\\\\\\\\\\
             CUSTOM FONT STYLE
             /////////////////


 ======================================================================================================================
 =================================================================================================================== */


.h1Style {
  font-size: 4rem;
  letter-spacing: 1rem;
  font-weight: lighter;
  font-stretch: semi-expanded;
  padding-top: 2rem;

}

.crdH1Style {
  letter-spacing: 1rem;
  font-stretch: semi-expanded;
  font-weight: lighter;

}

.crdFont1 {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  font-weight: lighter;
  font-family: monospace;
  color: purple;
}

.footerFont {
  letter-spacing: 0.7rem;
  padding-bottom: 20px;
}

/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            CAROUSEL STYLE
            //////////


======================================================================================================================
=================================================================================================================== */




/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            Footer STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.navFooterStyle {
  font-size: 2rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.8rem;
  background-color: grey;
}




/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            FONT AWESOME STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.fa-black {
  color: black;
}

.fa-black:hover {
  color: rgb(169,169,169);
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            LIGHTBOX STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.modal-footer {
  color: black;
  font-style: oblique;
  border-top: none;
  padding-top: 0.2rem;
}

.modal-content {
  background-color: rgb(169,169,169);
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            Breadcrumb STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.breadcrumb {
  background-color: transparent;
}



/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            NAV STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.navStyle {
   color: white;
   font-size: 1rem;
   letter-spacing: 0.8rem;
   padding-left: 0.5rem;
   padding-right: 0.8rem;
   background-color: grey;
}

.navStyle1 {
  color: purple;
  letter-spacing: 0.8rem;
}

.navStyle2 {
  color: purple;
  font-size: 1rem;
  letter-spacing: 0.8rem;
}

.navBgStyle {
  background-color: grey;

}

/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            CONTAINER STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.homeContainerStyle {
  padding-left: 0rem;
  padding-right: 0rem;
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            CARD STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

/* --------- Room card styling --------- */
@media screen and (min-width: 451px) {
  .roomCrdStyle {
    height: 800px;
  }
}


@media screen and (max-width: 450px) {
  .roomCrdStyle {
    height: 860px;
  }
}


/* --------- facility  card styling --------- */
@media screen and (min-width: 601px) {
  .facilityCrdStyle {
    height: 680px;
  }
}


@media screen and (max-width: 600px) {
  .facilityCrdStyle {
    height: 980px;
  }
}


/* --------- Getting Here  card styling --------- */
@media screen and (min-width: 601px) {
  .wayCrdStyle {
    height: 480px;
  }
}


@media screen and (max-width: 600px) {
  .wayCrdStyle {
    height: 530px;
  }
}



/* ---------  Number Card  Styling --------- */
@media screen and (min-width: 601px) {
  .numCrdStyle {
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .numCrdStyle {
    height: 580px;
  }
}


/* ------ card font --------- */
@media screen and (max-width: 601px) {
  .crdFtStyle {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .crdFtStyle {
    text-align: center;
  }
}


@media screen and (max-width: 781px) {
  .crdFtStyle1 {
    text-align: center;
  }
}

@media screen and (max-width: 780px) {
  .crdFtStyle1 {
    text-align: center;
  }
}


/* --------- backgroung img for home cards --------- */
.roomCrdStyle {
  background-image: url("../img/54332bgemeffectbackground.jpg");
}

.facilityCrdStyle {
  background-image: url("../img/bb8989background.jpg");
}

.wayCrdStyle {
  background-image: url("../img/bb8989bottomroundbackground.jpg");
}

.galleryCrdStyle {
  background-image: url("../img/bb8989background.jpg");
}

.numCrdStyle {
  background-image: url("../img/54332bgemeffectbackground.jpg");
}


/*///////////////////////////
//hr styling
/////////////////////////*/


hr.style3 {
border: 0;
height: 1.5px;
width: 380px;
background-image: -webkit-linear-gradient(left, #F3904F, #3B4371);
background-image: -moz-linear-gradient(left,#F3904F, #3B4371);
background-image: -ms-linear-gradient(left, #F3904F, #3B4371);
background-image: -o-linear-gradient(left, #F3904F, #3B4371);
}
