/*
 .-.
(   )
 '-'
 J L
 | |
J   L
|   |
J     L
.-'.___.'-.
/___________\
_.-""'           `bmw._
.'                       `.
J                            `.
F                               L
J                                 J
J                                  `
|                                   L
|                                   |
|                                   |
|                                   J
|                                    L
|                                    |
|             ,.___          ___....--._
|           ,'     `""""""""'           `-._
|          J           _____________________`-.                       * MadTechnologies Copyright 2018-2019
|         F         .-'   `-88888-'    `Y8888b.`.                     * MadWorks
|         |       .'         `P'         `88888b \                    * Bite my shinny metal ass!!!!!!!
|         |      J       #     L      #    q8888b L
|         |      |             |           )8888D )
|         J      \             J           d8888P P
|          L      `.         .b.         ,88888P /
|           `.      `-.___,o88888o.___,o88888P'.'
|             `-.__________________________..-'
|                                    |
|         .-----.........____________J
|       .' |       |      |       |
|      J---|-----..|...___|_______|
|      |   |       |      |       |
|      Y---|-----..|...___|_______|
|       `. |       |      |       |
|         `'-------:....__|______.J
|                                  |
L___                              |
"""----...______________....--'
 */


 /* ===================================================================================================================
 ======================================================================================================================


             \\\\\\\\\\\\\\\\\
             CUSTOM FONT STYLE
             /////////////////


 ======================================================================================================================
 =================================================================================================================== */


.h1Style {
  font-size: 4rem;
  letter-spacing: 1rem;
  font-weight: lighter;
  font-stretch: semi-expanded;
  padding-top: 2rem;

}

.crdH1Style {
  letter-spacing: 1rem;
  font-stretch: semi-expanded;
  font-weight: lighter;

}

.crdFont1 {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  font-weight: lighter;
  font-family: monospace;
  color: purple;
}

.footerFont {
  letter-spacing: 0.7rem;
  padding-bottom: 20px;
}

/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            CAROUSEL STYLE
            //////////


======================================================================================================================
=================================================================================================================== */




/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            Footer STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.navFooterStyle {
  font-size: 2rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.8rem;
  background-color: grey;
}




/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            FONT AWESOME STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.fa-black {
  color: black;
}

.fa-black:hover {
  color: rgb(169,169,169);
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            LIGHTBOX STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.modal-footer {
  color: black;
  font-style: oblique;
  border-top: none;
  padding-top: 0.2rem;
}

.modal-content {
  background-color: rgb(169,169,169);
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            Breadcrumb STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.breadcrumb {
  background-color: transparent;
}



/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            NAV STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

.navStyle {
   color: white;
   font-size: 1rem;
   letter-spacing: 0.8rem;
   padding-left: 0.5rem;
   padding-right: 0.8rem;
   background-color: grey;
}

.navStyle1 {
  color: purple;
  letter-spacing: 0.8rem;
}

.navStyle2 {
  color: purple;
  font-size: 1rem;
  letter-spacing: 0.8rem;
}

.navBgStyle {
  background-color: grey;

}




/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            Card Background styling
            //////////


======================================================================================================================
=================================================================================================================== */


.roomCrdStyle {
  background-image: url("../img/54332bgemeffectbackground.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.facilityCrdStyle {
  background-image: url("../img/bb8989background.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.wayCrdStyle {
  background-image: url("../img/bb8989bottomroundbackground.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.promoCrdStyle {
  background-image: url("../img/bb8989background.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.galleryCrdStyle {
  background-image: url("../img/bb8989background.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.numCrdStyle {
  background-image: url("../img/54332bgemeffectbackground.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            HR STYLE
            //////////


======================================================================================================================
=================================================================================================================== */

hr.style3 {
border: 0;
height: 1.5px;
width: 380px;
background-image: -webkit-linear-gradient(left, #F3904F, #3B4371);
background-image: -moz-linear-gradient(left,#F3904F, #3B4371);
background-image: -ms-linear-gradient(left, #F3904F, #3B4371);
background-image: -o-linear-gradient(left, #F3904F, #3B4371);
}

hr.style1 {
border: 0;
height: 2px;
width: 250px;
background-image: -webkit-linear-gradient(left, #F3904F, #3B4371);
background-image: -moz-linear-gradient(left,#F3904F, #3B4371);
background-image: -ms-linear-gradient(left, #F3904F, #3B4371);
background-image: -o-linear-gradient(left, #F3904F, #3B4371);
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            Button Styling
            //////////


======================================================================================================================
=================================================================================================================== */


.button.black {
  background-color: #000;
  border: 3px solid #000;
  color: #fff;
}

.button.black:hover {
  background-color: transparent;
  color: #000
}



/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            card hover Styling
            //////////


======================================================================================================================
=================================================================================================================== */
