/*
 .-.
(   )
 '-'
 J L
 | |
J   L
|   |
J     L
.-'.___.'-.
/___________\
_.-""'           `bmw._
.'                       `.
J                            `.
F                               L
J                                 J
J                                  `
|                                   L
|                                   |
|                                   |
|                                   J
|                                    L
|                                    |
|             ,.___          ___....--._
|           ,'     `""""""""'           `-._
|          J           _____________________`-.                       * MadTechnologies Copyright 2018-2019
|         F         .-'   `-88888-'    `Y8888b.`.                     * MadWorks
|         |       .'         `P'         `88888b \                    * Bite my shinny metal ass!!!!!!!
|         |      J       #     L      #    q8888b L
|         |      |             |           )8888D )
|         J      \             J           d8888P P
|          L      `.         .b.         ,88888P /
|           `.      `-.___,o88888o.___,o88888P'.'
|             `-.__________________________..-'
|                                    |
|         .-----.........____________J
|       .' |       |      |       |
|      J---|-----..|...___|_______|
|      |   |       |      |       |
|      Y---|-----..|...___|_______|
|       `. |       |      |       |
|         `'-------:....__|______.J
|                                  |
L___                              |
"""----...______________....--'
 */


 /* ===================================================================================================================
 ======================================================================================================================


             \\\\\\\\\\
             Google Font
             //////////


 ======================================================================================================================
 =================================================================================================================== */



 h1,h2,h3,h4,h5,h6,a {
   font-family: 'Playfair Display', serif;
 }

 p,li,td,th {
   font-family: 'Quicksand', sans-serif;
 }



 /* ===================================================================================================================
 ======================================================================================================================


             \\\\\\\\\\
             masthead
             //////////


 ======================================================================================================================
 =================================================================================================================== */


 .masthead {
   height: 72vh;
   min-height: 500px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }



 /* ===================================================================================================================
 ======================================================================================================================


             \\\\\\\\\\\\\\\\\
             CUSTOM card FONT STYLE
             /////////////////


 ======================================================================================================================
 =================================================================================================================== */


 a {
   -webkit-transition: .3s all ease;
   -o-transition: .3s all ease;
   transition: .3s all ease;
   text-decoration: none;
 }

a:hover {
  text-decoration: none;
}

 .blackfont {
   color: black;
 }

 .blackfont:hover {
   color: grey;
 }


.h1Style {
  font-size: 4rem;
  letter-spacing: 1rem;
  font-weight: lighter;
  font-stretch: semi-expanded;
  padding-top: 2rem;

}

.crdH1Style {
  letter-spacing: 1rem;
  font-stretch: semi-expanded;
  font-weight: lighter;

}

.crdFont1 {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  font-weight: lighter;
  font-family: monospace;
  color: purple;
}

.footerFont {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.7rem;
  padding-bottom: 20px;
}




/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            Footer STYLE
            //////////


======================================================================================================================
=================================================================================================================== */



.navFooterStyle {
  font-size: 2rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.8rem;
  background-color: grey;
}




/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            FONT AWESOME STYLE
            //////////


======================================================================================================================
=================================================================================================================== */


.fa-black {
  color: black;
}

.fa-black:hover {
  color: rgb(169,169,169);
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            LIGHTBOX STYLE
            //////////


======================================================================================================================
=================================================================================================================== */


.modal-footer {
  color: black;
  font-style: oblique;
  border-top: none;
  padding-top: 0.2rem;
}

.modal-content {
  background-color: rgb(169,169,169);
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            Breadcrumb STYLE
            //////////


======================================================================================================================
=================================================================================================================== */



.breadcrumb {
  background-color: transparent;
}




/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            NAV STYLE
            //////////


======================================================================================================================
=================================================================================================================== */



.navStyle {
   color: white;
   font-size: 1rem;
   letter-spacing: 0.8rem;
   padding-left: 0.5rem;
   padding-right: 0.8rem;
   background-color: grey;
}

.navStyle1 {
  color: purple;
  letter-spacing: 0.8rem;
}

.navStyle2 {
  color: purple;
  font-size: 1rem;
  letter-spacing: 0.8rem;
}

.navBgStyle {
  background-color: grey;

}




/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            Card Background styling
            //////////


======================================================================================================================
=================================================================================================================== */


.roomCrdStyle {
  background-image: url("../img/54332bgemeffectbackground.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.facilityCrdStyle {
  background-image: url("../img/bb8989background.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.wayCrdStyle {
  background-image: url("../img/bb8989bottomroundbackground.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.promoCrdStyle {
  background-image: url("../img/bb8989background.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.galleryCrdStyle {
  background-image: url("../img/bb8989background.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

.numCrdStyle {
  background-image: url("../img/54332bgemeffectbackground.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            HR STYLE
            //////////


======================================================================================================================
=================================================================================================================== */



hr.style3 {
border: 0;
height: 1.5px;
width: 380px;
background-image: -webkit-linear-gradient(left, #F3904F, #3B4371);
background-image: -moz-linear-gradient(left,#F3904F, #3B4371);
background-image: -ms-linear-gradient(left, #F3904F, #3B4371);
background-image: -o-linear-gradient(left, #F3904F, #3B4371);
}

hr.style1 {
border: 0;
height: 2px;
width: 250px;
background-image: -webkit-linear-gradient(left, #F3904F, #3B4371);
background-image: -moz-linear-gradient(left,#F3904F, #3B4371);
background-image: -ms-linear-gradient(left, #F3904F, #3B4371);
background-image: -o-linear-gradient(left, #F3904F, #3B4371);
}


/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            Button Styling
            //////////


======================================================================================================================
=================================================================================================================== */


.button.black {
  background-color: #000;
  border: 3px solid #000;
  color: #fff;
}

.button.black:hover {
  background-color: transparent;
  color: #000;
}




/* ===================================================================================================================
======================================================================================================================


            \\\\\\\\\\
            navbar style
            //////////


======================================================================================================================
=================================================================================================================== */



header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
  color: #fff !important;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: transparent !important;
}

@media (max-width: 991.98px) {
  header .navbar {
    background: rgba(0, 0, 0, 0.4) !important;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

header .navbar .nav-link {
  padding: 1.7rem 1rem;
  outline: none !important;
}

@media (max-width: 991.98px) {
  header .navbar .nav-link {
    padding: .5rem .5rem;
  }
}

header .navbar .nav-link:hover {
  color: #fff !important;
}

header .navbar .nav-link.active {
  color: #fff !important;
}

header .navbar .cta {
  float: right;
}

header .navbar .cta > a {
  margin-top: -12px;
  position: relative;
}

@media (max-width: 767.98px) {
  header .navbar .cta > a {
    margin-top: inherit;
  }
}

header .navbar .cta > a span {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ccc;
}

header .navbar .dropdown.show > a {
  color: #fff !important;
}

header .navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
}

header .navbar .dropdown-menu:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
}

@media (max-width: 1199.98px) {
  header .navbar .dropdown-menu:before {
    display: none;
  }
}

header .navbar .dropdown-menu .dropdown-item:hover {
  background: #b99365;
  color: #fff;
}

header .navbar .dropdown-menu .dropdown-item.active {
  background: #b99365;
  color: #fff;
}

header .navbar .dropdown-menu a {
  padding-top: 7px;
  padding-bottom: 7px;
}

header .navbar.navbar-light .nav-link {
  color: #fff;
}

header .navbar.navbar-light .nav-link.active {
  color: #fff;
}









.site-hero {
  background-size: cover;
  background-position: center center;
  min-height: 750px;
  height: 100vh;
}

.site-hero > .container {
  position: relative;
  z-index: 2;
}

.site-hero.overlay {
  position: relative;
}

.site-hero.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-hero.overlay h1, .site-hero.overlay p {
  color: #fff;
}

.site-hero.overlay h1 {
  font-size: 60px;
}

@media (max-width: 1199.98px) {
  .site-hero.overlay h1 {
    font-size: 40px;
  }
}

.site-hero.overlay p {
  font-size: 30px;
}

@media (max-width: 1199.98px) {
  .site-hero.overlay p {
    font-size: 20px;
  }
}

.site-hero .site-hero-inner {
  min-height: 750px;
  height: 100vh;
}
