{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HomeStay</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand" rel="stylesheet">

    <!-- Bootstrap -->
  	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

  	<!-- Custom stlylesheet -->
  	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  </head>

  <body>


    <!-- ===================================== Page Content ===================================== -->


    <nav class="navbar navbar-expand-lg navbar-light bg-info sticky-top">

      <div class="container">
        <a class="navbar-brand" href="#">Homestay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Room:Roompage' %}">Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#facility">Facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gettinghere">Getting Here</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#promotion">Promotion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactus">Contact Us</a>
          </li>
        </ul>
      </div>

      </div>

    </nav>



    <div class="hero-header">
      <div class="hero-text">
          <h1 style="font-size: 50px;" class="crdH1Style">Welcome to the Borneo Hillside</h1>
          <p style="font-size: 18px; letter-spacing: 0.5rem;">Nature and community living.</p>
      </div>
    </div>


{% for info in info %}



    <section class="" >

      <div class="container pt-5">


              <h1 class="crdH1Style text-center">Long Lellang</h1>

            <div class="row">

              <div data-aos="fade-up" class="col-md-5 my-auto">
                <br>
                <br>
                <p>{{info.message1}}</p>
                <p><i class="fas fa-grip-lines-vertical"></i> Check in Time: {{info.check_in}} <i class="fas fa-grip-lines-vertical"></i></p>
                <p><i class="fas fa-grip-lines-vertical"></i> Check out Time: {{info.check_out}} <i class="fas fa-grip-lines-vertical"></i></p>
                <a href="{% url 'Room:Roompage' %}" class="btn button black">View Our Rooms</a>
              </div>

              <div data-aos="fade-up" class="col-md-7 crdFtStyle1 my-auto">
                <p style="letter-spacing: 0.7rem;">Click for gallery</p>
                <a href="{{info.image1.url}}" data-toggle="lightbox" data-max-width="600" data-gallery="example-gallery">
                    <img data-src="{{info.image1.url}}" class="img-fluid lazyload">
                </a>
              </div>

            </div><!-- end row -->


        <div class="row">
          <hr class="style3">
        </div>


      </div><!-- end The Room container -->

    </section><!-- end section -->


    <section >

      <div id="facility" class="container pt-5">


            <h1 data-aos="fade-down" class="crdH1Style">The Facility</h1>
            <p>Check our wide selection of rooms. Lorem ipsum this a test text. Check our wide selection of rooms. Lorem ipsum this a test text.</p>
            <p>Our Facilities:</p>

            <div class="row">
              <div data-aos="fade-right" class="col-sm-6 my-auto">
                <p><i class="fas fa-3x fa-utensils px-3 py-1"></i>BBQ Area</p>
                <p><i class="fas fa-3x fa-warehouse px-3 py-3"></i>Hall Rental</p>
                <p><i class="fas fa-3x fa-swimming-pool px-3 py-3"></i>Swimming Pool</p>
                <p><i class="fas fa-3x fa-wifi px-3 py-3"></i>Internet</p>
              </div>

              <div data-aos="fade-left" class="col-sm-6 my-auto">
                <p><i class="fas fa-3x fa-hiking px-3 py-3"></i>Outdoor Activity</p>
                <p><i class="fas fa-3x fa-mitten px-3 py-3"></i>Home Cook</p>
                <p><i class="fas fa-3x fa-swimmer px-3 py-3"></i>Outdoor Swimming</p>
                <p><i class="fas fa-3x fa-tree px-3 py-3"></i>Nature Guide</p>
              </div>
            </div>


        <div class="row">
          <hr class="style3">
        </div>


      </div><!-- end The facility container -->

    </section>


    <section class="">

      <div id="gettinghere" class="container py-5">


            <h1 data-aos="fade-down" class="crdH1Style">The Way Here</h1>
            <p>Below are our location, and some information on how to get here. Please do your reservation before hand for airfares and such.</p>

            <div class="row">

              <div data-aos="fade-up" class="col-sm-6 my-auto">
                  <p class="crdFont1">Location:</p>
                  <p>Long Lellang, Sarawak, Malaysia</p>
                  <p>Flying Here:</p>
                  <li>Fly to Kuala Lumpur international Airport (KLIA)</li>
                  <li>Take a flight from KLIA to Miri Airport</li>
                  <li>Another flight from Miri to Long Lellang</li>

              </div><!-- end col-6 -->
              <div data-aos="fade-up" class="col-sm-6 my-auto">

                <a style="color: black;" href="#"><i class="fas fa-4x fa-map-marked-alt py-3 px-3"></i></a>
                <a style="color: black;" href="#"><i class="fas fa-4x fa-map py-3 px-3"></i></a>
                <a style="color:black;" href="#"><i class="fas fa-4x fa-street-view py-3 px-3"></i></a>


              </div><!-- end col-6 -->

            </div><!-- end row -->


        <div class="row">
          <hr class="style3">
        </div>


      </div><!-- end The way container -->

    </section>


    <section class="">

      <div id="promotion" data-aos="fade-up" class="container py-5">

        <h1 data-aos="fade-down" class="crdH1Style">The Promotion</h1>
        <br>
        <div class="col-md">

          <a href="#"><img class="card-img lazyload teaser" data-expand data-src="{{info.promotion1.url}}" alt="Card image cap"></a>

            <h2><u>Promotions</u></h2>
            <h5>{{info.promotion}}</h5>
            <hr class="style3">

        </div>


      </div><!-- end Promotion container -->

    </section>


    <section class="">

      <div id="gallery" data-aos="fade-up" class="container-fluid py-5">


                <h1 data-aos="fade-down" class="crdH1Style">The Gallery</h1>
                <p>Click to view</p>

                        <div class="d-flex flex-row">
                          <div class="col p-1">

                            <a href="{{info.gallery1.url}}" data-toggle="lightbox" data-gallery="example-gallery">
                                <img data-src="{{info.gallery1.url}}" class="card-img lazyload teaser" data-expand="-50">
                            </a>

                          </div>
                            <div class="col p-1">

                            <a href="{{info.gallery2.url}}" data-toggle="lightbox" data-gallery="example-gallery">
                                <img data-src="{{info.gallery2.url}}" class="card-img lazyload teaser" data-expand="-50">
                            </a>

                            </div>
                            <div class="col p-1">

                            <a href="{{info.gallery3.url}}" data-toggle="lightbox" data-gallery="example-gallery">
                                <img data-src="{{info.gallery3.url}}" class="card-img lazyload teaser" data-expand="-50">
                            </a>

                            </div>

                        </div>
                        <div class="d-flex flex-row">

                          <div class="col p-1">

                          <a href="{{info.gallery4.url}}" data-toggle="lightbox" data-gallery="example-gallery">
                                <img data-src="{{info.gallery4.url}}" class="card-img lazyload teaser" data-expand="-50">
                            </a>

                          </div>
                            <div class="col p-1">

                            <a href="{{info.gallery5.url}}" data-toggle="lightbox" data-gallery="example-gallery">
                                <img data-src="{{info.gallery5.url}}" class="card-img lazyload teaser" data-expand="-50">
                            </a>
                            </div>
                            <div class="col p-1">

                            <a href="{{info.gallery6.url}}" data-toggle="lightbox" data-gallery="example-gallery">
                                <img data-src="{{info.gallery6.url}}" class="card-img lazyload teaser" data-expand="-50">
                            </a>
                            </div>
                        </div>

          <div class="row">
            <hr class="style3">
          </div>

      </div><!-- end Gallery container -->

    </section>


    <section class="bg-warning pt-5 my-auto">

      <div id="contactus" class="container">


            <h1 class="crdH1Style">Contact Us</h1>

            <div class="row pt-3">

              <div class="col-md-6 my-auto">

                <p><i class="fas fa-money-check-alt"></i> Name: {{info.name}}</p>
                <p><i class="fas fa-phone"></i> Tel: {{info.phone_number}}</p>
                <p><i class="fas fa-mobile-alt"></i> Tel: {{info.office_number}}</p>
                <p><i class="fas fa-envelope"></i> Email: {{info.email}}</p>
                <a href="#">FAQ</a>

              </div><!-- end col-6 -->

              <div class="col-md-6 my-auto text-center">

                <i class="fab fa-3x fa-twitter-square px-3 py-3"></i>
                <i class="fab fa-3x fa-facebook px-3 py-3"></i>
                <i class="fab fa-3x fa-foursquare px-3 py-3"></i>
                <i class="fab fa-3x fa-instagram px-3 py-3"></i>

              </div><!-- end col-6 -->

            </div><!-- end row -->


        <div class="row">
          <hr class="style3">
        </div>


      </div><!-- end Contact Us container -->

    </section>

{% endfor %}


    <!-- ======================================= end page content ============================================= -->


        <footer class="text-center">
          <ul class="nav justify-content-center">
            <li class="nav-item p-2 mb-1 rounded">
              <a class="nav-link" href="#"><i class="fab fa-black fa-facebook fa-3x"></i></a>
            </li>
            <li class="nav-item p-2 mb-1 rounded">
              <a class="nav-link" href="#"><i class="fab fa-black fa-instagram fa-3x"></i></a>
            </li>
            <li class="nav-item p-2 mb-1 rounded">
              <a class="nav-link" href="#"><i class="fab fa-black fa-twitter fa-3x"></i></a>
            </li>
          </ul>
          <p class="footerFont">Copyright 2019</p>
          <h6 class="footerFont">Created by MADTechnologies</h6>
        </footer>

    <!-- Bootstrap core JavaScript -->
    <script   src="https://code.jquery.com/jquery-3.4.0.min.js"   integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" integrity="sha256-jGAkJO3hvqIDc4nIY1sfh/FPbV+UK+1N+xJJg6zzr7A=" crossorigin="anonymous"></script>
    <script src="{% static "js/lazysizes.min.js" %}" async=""></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      AOS.init();
    </script>
    
    <script>

    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                    event.preventDefault();
                    $(this).ekkoLightbox();
                });

    </script>

    <script>
    $("a[href^='#']").click(function(e) {
      e.preventDefault();
      
      var position = $($(this).attr("href")).offset().top;

      $("body, html").animate({
        scrollTop: position
      } /* speed */ );
    });
    </script>

    <!--
    _..-...
   ,Y+  .:.:\_
  | |./'     ``-\
  |,'`           `.
  |               `_
  |     ,-''-. ,-''':
  |    /      .'     :                                     ****lian was here****
  | .\ |    o  |__o.,'                           _.-' '\
 '|\| \\      /    `)                        ,..,'     ,'
  |`|  ' `..- .....<:                      ,'    `. ,-:
  ' ,-   _.-'        `.                 _,'       +'  |
   |`|  ,'            '.              ,'       - _/_,'-\
    `.Y|   _,,.. ____./'           ,-'         /'|`'  _|
      ||  | |  |  | |           _.-              `--+'
      |-.  "|:.|..|-.    _,.. ,/'               ,..Y'
      / `\.       ,-'  ,' /,,'               _,'
     .:_    -----'''|.:   |             _,Y''
    /  '`'';'.     /:  \  |        _,Y-'
    |      |  ' .  | `._| |     _,'
_/-'';.. _ |     ` |   \   `.Y'i'                                           * MadTechnologies Copyright 2018-2019
,'    ,'    '             |    i/'      $$$ RRRRRRRRRR $$$                  * MadWorks
,.'      /                   ..--'
|       |                     \
: .     /                      ' .
/'  `._ .'                         `.
/     _''                            \
/     ./                               \
/      /                                 \
/      |                                   \
/     ,'|                                   |


    -->


  </body>

</html>
